@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(73, 73, 194);
}

.wrapper {
    width: 70%;
    background: #fff;
    padding: 50px;
    height: 170vh;
    margin: 10px 0 10px 0;
}

.wrapper .innerWrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1em;
}

.wrapper h2 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #333;
    margin-bottom: -40px;
}

.wrapper form {
    margin-top: 30px;
}

.wrapper form .input-box {
    height: 75px;
    margin: 35px 0;
    display: flex;
    flex-direction: column;
}

form .input-box input {
    height: 100%;
    width: 90%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #4070f4;
}

form .policy {
    display: flex;
    align-items: center;
}

form h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;

}

.input-box.button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
}

.input-box.button input:hover {
    background: #0e4bf1;
}

form .text h3 {
    color: #333;
    width: 100%;
    text-align: center;
}

form .text h3 a {
    color: #4070f4;
    text-decoration: none;
}

form .text h3 a:hover {
    text-decoration: underline;
}



.image-title {
    margin-top: 15px;
}

form .input-box .education input {
    height: 50%;
    width: 130%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

form .input-box .occupation input {
    height: 135%;
    width: 130%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.form-element {
    width: 150px;
    height: 150px;
    margin-top: 45px;
}

.form-element input {
    display: none;
}

.form-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-element div {
    position: relative;
    height: 40px;
    margin-top: -40px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #f5f5f5;
    font-weight: 600;
}

.form-element div span {
    font-size: 40px;
}

.right.form-element {
    margin: 30px;
}

@media only screen and (max-width: 768px) {
    .form-element {
        width: 100px;
        height: 100px;
    }
    .wrapper {
        width: 70%;
        background: #fff;
        padding: 50px;
        height: 200vh;
        margin: 10px 0 10px 0;
    }
    .wrapper .innerWrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    form .input-box input {
        width: 100%;

    }

    .wrapper h2 {
        font-size: 20px;
        font-weight: 600;
    }

    form .input-box .occupation input {
        width: 100%;
        font-size: 15px;
    }
    form .input-box .education input {
        width: 100%;
        font-size: 15px;
    }
    .right  {
        margin-top: 15vh;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

@media only screen and (max-width: 468px) {
    .form-element {
        width: 80px;
        height: 80px;
    }
    .wrapper .innerWrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    form .input-box input {
        width: 100%;

    }

    .wrapper h2 {
        font-size: 20px;
        font-weight: 600;
    }

    form .input-box .occupation input {
        width: 100%;
        font-size: 15px;
    }
    form .input-box .education input {
        width: 100%;
        font-size: 15px;
    }
}